*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: auto;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}



/* 　　　グローバルナビゲーション　　　*/
.lp-wrap{
    max-width: 2000px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.glo-nav{
    max-width: 2000px;
    width: 100%;
    height: auto;
    margin:  0 auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 5px #00000015;
    z-index: 1;
}

.glo-nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
}

.logo{
    border: none;
    background-color: rgb(255, 255, 255);
}

